@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap');
*{
  box-sizing: border-box;
  font-family: Trebuchet MS;
}
body {
background-color: #e1cafc;
margin: 0 15%;
font-family: Sans-Serif;
background-image: url("resumebg.jpg");
background-repeat: no-repeat;
background-position: center 100%;
background-attachment: fixed;
}
h1 {
text-align: center;
font-family: 4em;
font-family: 'Sansita Swashed', Sans-Serif;
border-bottom: 1px solid #FFFFFF;
margin-top: 30px;
}
h2 {
color: #23083d;
font-size: 2em;
font-family: 'Sansita Swashed', Sans-Serif;
}
a:hover{ color:#000000;}
.nav
{overflow: hidden;background-color: #e1cafc; text-align: center;}
.nav a
{color: #000000; text-align: center; padding: 14px 16px; text-decoration: none;font-size: 17px;}
.nav a:hover
  {background-color: #f569de; color: black;}
.nav a:active
 {background-color: #d90ef2; color:#00000;}
 ul     {
   list-style:none;
 }
 ul li:before{
   content:"\00BB\2665"
 }
 .container {
 	border: 1px solid #666666;
 	width: 350px;
 	height: 150px;
 }
 .container span {
 	display: inline-block;
 	border: 1px solid #666666;
 	width: 40%;
 }
 .small-box {
 	height: 30%;
 	background: #1c87c9;
 }
 .big-box {
 	height: 50%;
 	background: #8ebf42;
 }
