@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
*{
  box-sizing: border-box;
  font-family: 'Arcitects Daughter', sans-serif;
}
body {
background-color: #68d9f4;
margin: 0 15%;
font-family: sans-serif;
background-repeat: no-repeat;
background-position: center 100%;
background-attachment: fixed;
}
h1 {
text-align: center;
font-family: 'Architects Daughter', sans-serif;
font-weight: normal;
text-transform: uppercase;
border-bottom: 1px solid #FFFFFF;
margin-top: 30px;
}
h2 {
color: #d1633c;
font-size: 2em;
font-family: 'Architects Daughter', sans-serif;
}
a:hover{ color:#000000;}
.topnav
{overflow: hidden;background-color: #68d9f4;}
.topnav a
{float: left; color: #000000;text-align: center; padding: 14px 16px; text-decoration: none;font-size: 17px;}
.topnav a:hover
  {background-color: #f9c453; color: black;}
  .topnav .active
 {background-color: #f78121; color:#00000;}
 footer {border-top:1px solid #57b1dc; text-align:center; padding-top: 1em; }
 footer img {width:40px; height:40px; margin-left:.5em; margin-right: .5em;}
